//------------------------------- 
//=========== FONTS =============
//-------------------------------

$main-font: 'Open Sans'


//------------------------------- 
//====== TEXT COLORS ============
//-------------------------------
$main-text-color: #333
$second-text-color: #2BCDFE
$third-text-color:  #FFF
$main-title-color: #004750

//------------------------------- 
//====== BG COLORS =============
//-------------------------------
$main-bg-color: #333  
$second-bg-color: #2BCDFE 
$third-bg-color: #fff

//------------------------------- 
//====== BORDER COLORS ==========
//-------------------------------
$main-border-radius: 3px
$main-border-color: #2BCDFE




$input-border-color: rgba(51, 51, 51, .2)
$input-text-color: rgba(51, 51, 51, .5)